<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MadLib</title>
</head>
<body>
   <h1>Thankgiving Dinner MadLib</h1>
   <form action="/action_page.php">
    <label for="adj1">Adjective:</label>
    <input type="text" id="adj1" name="adj1"><br><br>
    <label for="adj2">Adjective:</label>
    <input type="text" id="adj2" name="adj2"><br><br>
    <label for="bird">Type of Bird:</label>
    <input type="text" id="bird" name="bird"><br><br>
    <label for="roominhouse">Room in House:</label>
    <input type="text" id="roominhouse" name="roominhouse"><br><br>
    <label for="verb">Verb (Past Tense):</label>
    <input type="text" id="verb" name="verb"><br><br>
    <label for="relName">Name:</label>
    <input type="text" id="relName" name="relName"><br><br>
    <label for="noun">Noun:</label>
    <input type="text" id="noun" name="noun"><br><br>
    <label for="liquid">Liquid:</label>
    <input type="text" id="liquid" name="liquid"><br><br>
    <label for="body">Part of the Body (plural):</label>
    <input type="text" id="body" name="body"><br><br>
    <label for="plnoun">Noun (plural):</label>
    <input type="text" id="plnoun" name="plnoun"><br><br>
    <label for="verbing">Verb Ending in -ing:</label>
    <input type="text" id="verbing" name="verbing"><br><br>
    <label for="noun2">Noun:</label>
    <input type="text" id="noun2" name="noun2"><br><br>
    <input type="submit" value="Submit" onclick="toResults()">    
  </form>
</body>
</html>